## solutions in class exercise

In [1]:
import pandas as pd
import numpy as np

## Practice I - Data loading

Explore the arguments of `pd.read_csv()` methods. Open the csv (WorldCups.csv) with the following options: 

- using comma as separator, 
- indexing by year, 
- selecting only a few columns of the dataset
- open only 10 rows after skipping the first 5
- parsing all dates as datetimes

In [2]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

In [6]:
# my answer
pd.read_csv("WorldCupMatches.csv", 
            sep = ",", # Separator in the data
            index_col="Year", # Set a variable to the index
            usecols = ["Year", "Stage", "Stadium"], # Only request specific columns
            nrows = 10, # only read in n-rows of the data 
            na_values = "nan",
            skiprows = np.arange(1, 50),
            parse_dates=True, # Parse all date features as datatime
            low_memory=True) # read the file in chunks for lower memory use (useful on large data)

                            Stage                                    Stadium
Year
1938-01-01            Semi-finals                           Parc des Princes
1938-01-01            Semi-finals                            Stade V�lodrome
1938-01-01  Match for third place                      Stade du Parc Lescure
1938-01-01                  Final                            Stade Olympique
1950-01-01                Group 1  Maracan� - Est�dio Jornalista M�rio Filho
1950-01-01                Group 2  Maracan� - Est�dio Jornalista M�rio Filho
1950-01-01                Group 2                           Durival de Brito
1950-01-01                Group 3                                   Pacaembu
1950-01-01                Group 1                              Independencia
1950-01-01                Group 1                                   Pacaembu

## Practice II - Data Loading

- Which two teams played the last world cup game in the data?
- Which Country hosted more worldcups?
- How many different countries have won a Worldcup?
- What is the range of years to which we have data for?

In [7]:
# Add your response here
d = pd.read_csv("WorldCups.csv")
d

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [8]:
# last world cup game is always the final. Germany vs Argentina
d.tail(1)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [10]:
# host
d.Country.describe()

count        20
unique       15
top       Italy
freq          2
Name: Country, dtype: object

In [11]:
# winner unique
d.Winner.describe()

count         20
unique         9
top       Brazil
freq           5
Name: Winner, dtype: object

In [13]:
# range
d.Year.describe()

count      20.000000
mean     1974.800000
std        25.582889
min      1930.000000
25%      1957.000000
50%      1976.000000
75%      1995.000000
max      2014.000000
Name: Year, dtype: float64

## Practice I - Data Wrangling

Questions: 

- Open the Data
- Create a new dataset with  all columns the words event or actors
- Rename all columns replacing the the word event to "event_acled_south_america"
- Create three new columns: 
    - a binary representation for fatalities, 
    - a single columns combining the columns: "region",	"country",
     - a new column recoding the inter1 variable with three string labels. These labels should indicate when the iter1 variable is equal to its median, below the median and above the median values.

In [15]:
# read
import pandas as pd
acled_sa = pd.read_csv("acled_south_america.csv")
acled_sa.columns

Index(['event_id_cnty', 'event_date', 'year', 'time_precision',
       'disorder_type', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'civilian_targeting', 'iso', 'region', 'country',
       'admin1', 'admin2', 'admin3', 'location', 'latitude', 'longitude',
       'geo_precision', 'source', 'source_scale', 'notes', 'fatalities',
       'tags', 'timestamp'],
      dtype='object')

In [16]:
# 2
colnames = acled_sa.filter(like="event").columns.to_list() + acled_sa.filter(like="actor").columns.to_list()
acled_sa[colnames]

,event_id_cnty,event_date,event_type,sub_event_type,actor1,assoc_actor_1,actor2,assoc_actor_2
0,GUF216,29 September 2023,Protests,Peaceful protest,Protesters (French Guiana),NaN,NaN,NaN
1,ARG14050,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,NaN,NaN
2,ARG14057,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),NaN,NaN
3,ARG14104,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),NaN,NaN,NaN
4,BOL4911,29 September 2023,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),NaN,NaN
...,...,...,...,...,...,...,...,...
167582,VEN8468,01 January 2018,Protests,Excessive force against protesters,Protesters (Venezuela),Women (Venezuela),Military Forces of Venezuela (1999-) GNB: Vene...,NaN
167583,BRA31568,01 January 2018,Explosions/Remote violence,Remote explosive/landmine/IED,Unidentified Gang (Brazil),NaN,NaN,NaN
167584,VEN15145,01 January 2018,Violence against civilians,Attack,Unidentified Armed Group (Venezuela),NaN,Civilians (Venezuela),NaN
167585,COL12093,01 January 2018,Violence against civilians,Attack,Unidentified Armed Group (Colombia),NaN,Civilians (Colombia),NaN
167586,COL3347,01 January 2018,Explosions/Remote violence,Remote explosive/landmine/IED,Unidentified Armed Group (Colombia),NaN,Civilians (Colombia),NaN

In [17]:
# another solution
acled_sa.filter(regex="event|actor").head(5)

,event_id_cnty,event_date,event_type,sub_event_type,actor1,assoc_actor_1,actor2,assoc_actor_2
0,GUF216,29 September 2023,Protests,Peaceful protest,Protesters (French Guiana),NaN,NaN,NaN
1,ARG14050,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,NaN,NaN
2,ARG14057,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),NaN,NaN
3,ARG14104,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),NaN,NaN,NaN
4,BOL4911,29 September 2023,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),NaN,NaN

In [18]:
# rename
acled_sa = acled_sa.rename(columns={col: col.replace("event", "event_acled_south_america") for col in acled_sa.columns}).head(5)
acled_sa

,event_acled_south_america_id_cnty,event_acled_south_america_date,year,time_precision,disorder_type,event_acled_south_america_type,sub_event_acled_south_america_type,actor1,assoc_actor_1,inter1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,tags,timestamp
0,GUF216,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (French Guiana),NaN,6,...,Saint-Laurent-du-Maroni,5.5010,-54.0294,1,France Info,International,"On 29 September 2023, in Saint-Laurent-du-Maro...",0,crowd size=around 100,1696264529
1,ARG14050,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,6,...,Buenos Aires - Comuna 1,-34.6036,-58.3817,1,Diario Jornada; La Prensa (Argentina),National,"On 29 September 2023, in Buenos Aires - Comuna...",0,crowd size=no report,1696273132
2,ARG14057,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),6,...,Cordoba,-31.4355,-64.2009,1,La Voz del Interior (Argentina),Subnational,"On 29 September 2023, in Cordoba (Capital, Cor...",0,crowd size=no report,1696273132
3,ARG14104,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),NaN,6,...,La Plata - Villa Elvira,-34.9294,-57.9192,1,Diario El Dia,Subnational,"On 29 September 2023, in La Plata - Villa Elvi...",0,crowd size=no report,1696273132
4,BOL4911,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),6,...,Sucre,-19.0333,-65.2627,1,Correo del Sur,Subnational,"On 29 September 2023, in Sucre (Chuquisaca), u...",0,crowd size=no report,1696273132

In [19]:
# 4
import numpy as np
(acled_sa.
     assign(fatality_bin= np.where(acled_sa["fatalities"]>0, 1, 0), 
            full_location= acled_sa["region"]+ "-" + acled_sa["country"], 
            inter_recoded= np.where(acled_sa["inter1"]==acled_sa["inter1"].median(), "Median Value", 
                            np.where(acled_sa["inter1"]>acled_sa["inter1"].median(), 
                                          "Higher Median", "Below Median"))
           ).head(5)
)

,event_acled_south_america_id_cnty,event_acled_south_america_date,year,time_precision,disorder_type,event_acled_south_america_type,sub_event_acled_south_america_type,actor1,assoc_actor_1,inter1,...,geo_precision,source,source_scale,notes,fatalities,tags,timestamp,fatality_bin,full_location,inter_recoded
0,GUF216,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (French Guiana),NaN,6,...,1,France Info,International,"On 29 September 2023, in Saint-Laurent-du-Maro...",0,crowd size=around 100,1696264529,0,South America-French Guiana,Median Value
1,ARG14050,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,6,...,1,Diario Jornada; La Prensa (Argentina),National,"On 29 September 2023, in Buenos Aires - Comuna...",0,crowd size=no report,1696273132,0,South America-Argentina,Median Value
2,ARG14057,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),6,...,1,La Voz del Interior (Argentina),Subnational,"On 29 September 2023, in Cordoba (Capital, Cor...",0,crowd size=no report,1696273132,0,South America-Argentina,Median Value
3,ARG14104,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),NaN,6,...,1,Diario El Dia,Subnational,"On 29 September 2023, in La Plata - Villa Elvi...",0,crowd size=no report,1696273132,0,South America-Argentina,Median Value
4,BOL4911,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),6,...,1,Correo del Sur,Subnational,"On 29 September 2023, in Sucre (Chuquisaca), u...",0,crowd size=no report,1696273132,0,South America-Bolivia,Median Value

In [20]:
# solutions using np.select
median_value = acled_sa["inter1"].median()

# Define the conditions
conditions = [
    acled_sa['inter1'] < median_value,
    acled_sa['inter1'] == median_value,
    acled_sa['inter1'] > median_value
]

# Define the  output values
choices = ['below median', 'at median', 'above median']

# Use np.select 
acled_sa['inter_recoded'] = np.select(conditions, choices, default='N/A')

# see
acled_sa.filter(["inter1", "inter_recoded"])

   inter1 inter_recoded
0       6     at median
1       6     at median
2       6     at median
3       6     at median
4       6     at median

## Practice II - Data Wrangling

Using the same ACLED data from the previous exercise, answer:

1. What are the different event types recorded?

2. How many events are recorded for each year?

3. What’s the most common event type in the data?

4. Which countries had the highest number of reported fatalities?

In [21]:
# 1
acled_sa = pd.read_csv("acled_south_america.csv")
acled_sa["event_type"].drop_duplicates().to_list()

['Protests',
 'Battles',
 'Strategic developments',
 'Violence against civilians',
 'Riots',
 'Explosions/Remote violence']

In [33]:
# 1
acled_sa["event_type"].value_counts().keys().to_list()

['Protests',
 'Battles',
 'Violence against civilians',
 'Riots',
 'Strategic developments',
 'Explosions/Remote violence']

In [34]:
# 2
(acled_sa.groupby("year", as_index=False)
     ["year"]
     .size()
        )

   year   size
0  2018  28758
1  2019  26441
2  2020  26615
3  2021  30190
4  2022  32039
5  2023  23544

In [35]:
# 3 
(acled_sa.groupby("event_type", as_index=False)
     ["event_type"]
     .size()
     .sort_values("size", ascending=False)
     .reset_index(drop=True)
        )

                   event_type   size
0                    Protests  80850
1                     Battles  34042
2  Violence against civilians  30001
3                       Riots  13447
4      Strategic developments   6917
5  Explosions/Remote violence   2330

In [36]:
acled_sa.groupby("country", as_index=False)["fatalities"].sum().sort_values("fatalities", ascending=False)

             country  fatalities
2             Brazil       35842
4           Colombia       10553
13         Venezuela        8824
10              Peru         231
9           Paraguay         132
5            Ecuador         130
0          Argentina         117
3              Chile         108
1            Bolivia          88
11          Suriname          12
8             Guyana          11
12           Uruguay           7
7      French Guiana           2
6   Falkland Islands           0